#!/bin/sh

# YOU MUST EDIT THIS FILE!!!

# after editing this file below WITH YOUR KEY, remove the exit on the
# next line
exit

# YOU MUST EDIT THIS FILE!!!
# DO NOT USE THIS TEST KEY CHECKED INTO GIT!!!

# your secret key goes here
echo 130cdceb74d7174fcbffbcb4a3397f3551b990fed92e452279ea3922cf715a0a

# YOU MUST EDIT THIS FILE!!!
# DO NOT USE THIS TEST KEY CHECKED INTO GIT!!!

